#juments {
    background: linear-gradient(to bottom, #205629, #040C05);
    display: grid;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fill, 330px);
    gap: 30px;
    justify-content: center;
    
}

#juments .carteJument{
    width: 330px;
    margin:10px auto;
    display: grid;
    grid-template-columns: auto-fill ;
    grid-template-rows: repeat(3, auto);
    border: 1px solid var(--doré);
    border-radius: 25px;
    box-shadow: 4px 8px 8px 8px rgba(33, 33, 33, 0.5);
    
}
#juments .carteJument .imgDiv img{
    width: 100%;
}

#juments .carteJument .imgDiv{
    grid-area: 2/1/3/2;
}

#juments .carteJument h3{
    grid-area: 1/1/2/2;
    margin: 5px 10px;
}

#juments .carteJument p{
    grid-area: 3/1/4/2;
    color: white;
    margin: 10px 5px;
}
