#mesArticles {
    
    padding-bottom: 10px;
    margin-bottom: 20px;
    
}


#mesArticles .monArticle {
    background: linear-gradient(to bottom, #205629, #040C05);
    display: grid;
    grid-template-columns: auto-fill ;
    grid-template-rows: repeat(3, auto-fill);
    margin: 20px 10px;
    padding: 0 20px;
    color: white;
    gap: 20px;
    box-shadow: 7px 10px 10px 7px rgba(73, 73, 73, 0.4);
    
}

#mesArticles .monArticle a{
    display: none;
}


#mesArticles .monArticle h3{
    grid-area: 1/1/2/2;
    padding-top: 10px;
    text-align: center;
}

#mesArticles .monArticle img {
    grid-area: 2/1/3/2;
    width: 100%;
    
}
#mesArticles .monArticle iframe {
    grid-area: 2/1/3/2;
    width: 100%;
    
}
#mesArticles .monArticle p{
    grid-area: 3/1/4/2;
    padding: 10px;
    
    text-align: justify;
}

#mesArticles .monArticle p .dore{
    color: #C9B821;
    font-size: 1.2rem;
    font-family: 'Roboto Slab';
}

#mesArticles .grandArticle{
    background: linear-gradient(to bottom, #205629, #040C05);
    display: grid;
    grid-template-columns: auto-fill ;
    grid-template-rows: repeat(3, auto-fill);
    margin: 20px 10px;
    padding: 0 20px;
    color: white;
    gap: 20px;
    box-shadow: 7px 10px 10px 7px rgba(73, 73, 73, 0.4);
}
#mesArticles .grandArticle h3{
    grid-area: 1/1/2/2;
    padding-top: 10px;
    text-align: center;
}
#mesArticles .grandArticle img{
    grid-area: 2/1/3/2;
    width: 100%;
}

#mesArticles .grandArticle p{
    grid-area: 3/1/4/2;
    padding: 10px;    
    text-align: justify;    
}
#mesArticles .grandArticle p:last-of-type{
    display: none;
    
}



@media screen and (min-width: 768px) {
    #mesArticles .monArticle {
        display: grid;
        grid-template-columns:repeat(3, auto-fill)  ;
        grid-template-rows: repeat(2, auto-fill);
        margin: 20px 10px;
        color: white;
        gap: 20px;

}

#mesArticles .monArticle h3{
    grid-area: 1/1/2/4;
    padding-top: 10px;
    text-align: start;
}   

#mesArticles .monArticle img {
    grid-area: 2/1/3/2;
    
    
}
#mesArticles .monArticle iframe {
    grid-area: 2/1/3/2;
    
    
}
#mesArticles .monArticle p{
    grid-area: 2/2/4/4;
    
}
#mesArticles .monArticle a{
    display: block;
    grid-area: 3/3/4/4;
    width: 140px;
    background-color: var(--vert);
    border-radius: 10px;
    padding: 5px 5px;
    margin-bottom: 15px;
}

#mesArticles .grandArticle{
    background: linear-gradient(to bottom, #205629, #040C05);
    display: grid;
    grid-template-columns:repeat(3, auto-fill) ;
    grid-template-rows: repeat(3, auto-fill);
    margin : 20px 10px;
    padding: 0 20px;
    color: white;
    gap: 20px;
}
#mesArticles .grandArticle h3{
    grid-area: 1/1/2/4;
    padding-top: 10px;
    text-align: start;
}
#mesArticles .grandArticle img{
    grid-area: 2/1/3/2;
}

#mesArticles .grandArticle p{
    grid-area: 2/2/4/4;
    
    
    
}
}
@media screen and (min-width: 1050px){
#mesArticles .grandArticle p:last-of-type{
    display: block;
    grid-area: 3/1/4/4
    
}
}