/* - lignes 25 à 158 : Confinguration générale
   - lignes 163 à 199 : Header
   - lignes 202 à 223 : MediaQuerries Header
   - lignes 229 à 267 : Philosophie 
   - lignes 271 à 281 : MediaQuerries Philosophie
   - lignes 286 à 336 : Famille
   - lignes 339 à 391 : MediaQuerries famille
   - lignes 396 à 484 : Actualités/News 
   - lignes 488 à 561 : MediaQuerries Actualités/News
   - lignes 565 à 578 : Slider
   - lignes 580 à 584 : MediaQuerries Slider
   - lignes 592 à 617 : Footer 
   - lignes 620 à 634 : MediaQuerries Footer 
   - lignes 639 à 722 : Formulaire 
   - lignes 725 à 751 : Carte
   - lignes 757 à 782 : Mentions légales 
   - lignes 789 à 832 : Jumenterie */
   
   
   



/* ===================== Config générale */
:root {
    --doré: #C9B821;
    --vert: #205629;
}



/* roboto-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/roboto-v30-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-slab-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-slab-v34-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-slab-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/roboto-slab-v34-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

h1,
h2 {
    font-family: 'Roboto Slab';
    display: inline-block;

    background: linear-gradient(to bottom, #205629, #040C05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    display: flex;
    background-color: white;
    text-decoration: underline var(--doré);
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

}

h3 {
    font-family: 'Roboto Slab';
    color: var(--doré);
    font-size: 1.4rem;

}

h4 {
    font-family: 'Roboto Slab';
    color: var(--doré);
    font-size: 1.1rem;
}

a {
    font-family: 'Roboto Slab';
    text-decoration: none;
    color: var(--doré);
}

a:hover {
    border-bottom: solid 1px var(--doré);
}

body {
    font-family: 'Roboto';
    font-size: 18px;
    /* background: url(images/ciel.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%; */

}

.container {
    max-width: 1200px;
    /* si ecran >= a 1200 pixels !*/
    width: 100%;
    margin: 0 auto;
}

#contenu #wip {
    width: 100%;
}

.active {
    color: crimson;
    /* text-decoration: underline; */
    
    
}
.active:hover {
    color: var(--doré);
}

/* ============================== Fin config générale */

/* ============================== Header */
#bandeau {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #205629, #040C05);
}

#bandeau img {
    padding-left: 40px;
}

#menuPrincipal ul {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: 5px;
    display: none;
}

#bandeau #menuPrincipal ul.on {
    flex-direction: column;
    justify-content: flex-start;
}

#menuPrincipal {
    width: 60%;
}

#menuPrincipal #burger {
    display: flex;
    font-size: 3rem;
    color: var(--doré);
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;

}


@media screen and (min-width:768px) {


    #menuPrincipal #burger {
        display: none;
    }

    #menuPrincipal ul {
        display: flex;
        /* flex-direction: row; */
        padding-top: 9%;
        padding-right: 4%;
    }

    #menuPrincipal #burger {
        display: none;
    }

    #menuPrincipal ul li a:hover {
        border-bottom: solid 1px var(--doré);
    }
}

/* ======================= fin header */

/*======================== Philosophie*/

#philosophie {

    margin: 20px 10px;
    background: linear-gradient(to bottom, #205629, #040C05);
    box-shadow: 7px 10px 10px 7px rgba(73, 73, 73, 0.4);

}

#philosophie .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15px;
}

#philosophie .picto img {
    padding-bottom: 15px;
}





#philosophie p {
    padding: 15px 20px;
    color: white;
}

#philosophie h3 {
    padding-bottom: 20px;
}

#philosophie h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}



@media screen and (min-width:768px) {


    #philosophie .images {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*======================== fin de Philosophie*/

/*========================= Famille*/
#famille {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px;
    background: linear-gradient(to bottom, #205629, #040C05);
    box-shadow: 7px 10px 10px 7px rgba(73, 73, 73, 0.4);
}

#famille .cecile,
#famille .louanne {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 15px 20px;
    color: white;
}

#famille .cecile a {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#famille .prenom {
    color: var(--doré);
}

#famille .cecile .photoCecile {
    width: 35%;
    height: auto;
}

#famille .louanne .photoLouanne {
    width: 35%;
    height: auto;
}



#famille .louanne .texteLouanne,
#famille .cecile .texteCecile {
    padding-bottom: 15px;
    padding-right: 10px;
}

#famille .louanne .listeLouanne {
    color: var(--doré);
    display: flex;
    justify-content: center;
}


@media screen and (min-width:768px) {


    #famille .cecile,
    #famille .louanne {
        justify-content: center;
        padding: 15px 20px;
        color: white;

    }

    /* #famille .cecile p,
    #famille .louanne p {
        width: 45%;
    }  */

    #famille .cecile .photoCecile {
        width: 45%;
    }

    #famille .louanne .photoLouanne {
        width: 45%;
    }
}

@media screen and (min-width:1050px) {
    #famille {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #famille .cecile,
    #famille .louanne {
        flex-wrap: nowrap;
    }

    #famille .texteCecile,
    .texteLouanne {
        width: 48%;
    }

    #famille .cecile .photoCecile {
        width: 48%;
        height: auto;

    }

    #famille .louanne .photoLouanne {
        width: 48%;
        height: auto;

    }
}

/*======================== fin de famille ============================*/

/* ==================== Actualités/news ===================== */
#mesArticles {
    
    padding-bottom: 10px;
    margin-bottom: 20px;
    
}


#mesArticles .monArticle {
    background: linear-gradient(to bottom, #205629, #040C05);
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: repeat(3, auto);
    margin: 20px 10px;
    padding: 0 20px;
    color: white;
    gap: 20px;
    box-shadow: 7px 10px 10px 7px rgba(73, 73, 73, 0.4);
    
}

#mesArticles .monArticle a{
    display: none;
}


#mesArticles .monArticle h3{
    grid-area: 1/1/2/2;
    padding-top: 10px;
    text-align: center;
}

#mesArticles .monArticle img {
    grid-area: 2/1/3/2;
    width: 100%;
    
}
#mesArticles .monArticle iframe {
    grid-area: 2/1/3/2;
    width: 100%;
    
}
#mesArticles .monArticle p{
    grid-area: 3/1/4/2;
    padding: 10px;
    line-height: 1.3;
    text-align: justify;
}

#mesArticles .monArticle p .dore{
    color: #C9B821;
    font-size: 1.2rem;
    font-family: 'Roboto Slab';
}

#mesArticles .grandArticle{
    background: linear-gradient(to bottom, #205629, #040C05);
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: repeat(3, auto);
    
    margin: 20px 10px;
    padding: 0 20px;
    color: white;
    gap: 20px;
    box-shadow: 7px 10px 10px 7px rgba(73, 73, 73, 0.4);
}
#mesArticles .grandArticle h3{
    grid-area: 1/1/2/2;
    padding-top: 10px;
    text-align: center;
}
#mesArticles .grandArticle img{
    grid-area: 2/1/3/2;
    min-height: 250px;
    width: 100%;
}

#mesArticles .grandArticle p{
    grid-area: 3/1/4/2;
    padding: 0px 10px ;    
    text-align: justify;
    line-height: 1.3; 
    margin-bottom: 20px;   
}
#mesArticles .grandArticle p:last-of-type{
    display: none;
    
}



@media screen and (min-width: 768px) {
    #mesArticles .monArticle {
        display: grid;
        grid-template-columns:repeat(3, auto-fill)  ;
        grid-template-rows: repeat(2, auto-fill);
        margin: 20px 10px;
        color: white;
        gap: 20px;

}

#mesArticles .monArticle h3{
    grid-area: 1/1/2/4;
    padding-top: 10px;
    text-align: start;
}   

#mesArticles .monArticle img {
    grid-area: 2/1/3/2;
    
    
}
#mesArticles .monArticle iframe {
    grid-area: 2/1/3/2;
    
    
}
#mesArticles .monArticle p{
    grid-area: 2/2/4/4;
    
}
#mesArticles .monArticle a{
    display: block;
    grid-area: 3/3/4/4;
    width: 140px;
    background-color: var(--vert);
    border-radius: 10px;
    padding: 5px 5px;
    margin-bottom: 15px;
}

#mesArticles .grandArticle{
    background: linear-gradient(to bottom, #205629, #040C05);
    display: grid;
    grid-template-columns:repeat(3, auto) ;
    grid-template-rows: repeat(3, auto);
    margin : 20px 10px;
    padding: 0 20px;
    color: white;
    gap: 20px;
}
#mesArticles .grandArticle h3{
    grid-area: 1/1/2/4;
    padding-top: 10px;
    text-align: start;
}
#mesArticles .grandArticle img{
    grid-area: 2/1/3/2;
}

#mesArticles .grandArticle p{
    grid-area: 2/2/4/4;
    
    
    
}
}
@media screen and (min-width: 1050px){
#mesArticles .grandArticle p:last-of-type{
    display: block;
    grid-area: 3/1/4/4
    
}
}
/* ==================== Fin Actualités/News ===================== */

/*======================== Slider ================================ */
.slider-wrapper {
    background: linear-gradient(to bottom, #205629, #040C05);
    padding: 20px 20px;
    margin: 20px 10px;
    box-shadow: 7px 10px 10px 7px rgba(73, 73, 73, 0.4);
}

.nivo-caption {
    background: transparent;
    color: black;
    width: 40%;
    padding: 20px 20px;
    
}

@media screen and (min-width:768px) {
    #slider {
        width: 75%;
    }
}

/*====================================== fin Slider ================= */




/*====================================== footer ====================== */
#pied {
    
    background: linear-gradient(to bottom, #205629, #040C05);
}

#pied .copyright {
    margin-left: 15px;
    display: none;
}

#pied ul {

    columns: 2;
    padding: 15px 15px;

}

#pied ul li {
    margin: 0 15px;


}

#pied ul li a:hover {
    border-bottom: solid 1px var(--doré);
}


@media screen and (min-width:768px) {
    #pied .copyright {
        display: block;
        font-size: 1rem;
        padding-top: 1.5%;
        text-align: center;

    }

    #pied ul {
        display: flex;
        justify-content: center;
        margin: 0 15px;
    }
}
/* ========================= fin footer ================ */

/* ========================= Formulaire =================== */

#formulaire {
    margin: 20px 10px;
    background: linear-gradient(to bottom, #205629, #040C05);
    box-shadow: 7px 10px 10px 7px rgba(73, 73, 73, 0.4);
}

#formulaire p input:focus,
#formulaire p textarea:focus {
    outline: none;
}

#formulaire #form {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;


}

#formulaire #form p {

    border-radius: 20px;
    padding: 8px 12px;
    margin: 10px 0;
}

#formulaire #form p select {
    border: none;
    background: none;
    width: 100%;
    color: var(--doré);
    font-weight: 600;
}

#formulaire #form p textarea {
    background: none;
    border: none;
    color: white;
    
}

#formulaire #form p:nth-of-type(1) {
    color: var(--doré);
}

#formulaire #form p:nth-of-type(1) input {
    margin: 0 7px;
}

#formulaire #form p:nth-of-type(5) {
    border: solid 1px var(--doré);
}

#formulaire #form p:nth-of-type(1),
#formulaire #form p:nth-of-type(2),
#formulaire #form p:nth-of-type(3),
#formulaire #form p:nth-of-type(7) {
    border: none;
}

#formulaire #form p:nth-of-type(2) input,
#formulaire #form p:nth-of-type(3) input,
#formulaire #form p:nth-of-type(7) input {
    border: 1px solid var(--doré);
    border-radius: 20px;
    padding: 8px 12px;
    margin: 10px 0;
}

#formulaire #form p:nth-of-type(7) input {
    background-color: var(--doré);

}

#formulaire #form p:nth-of-type(7) input:hover {
    background-color: var(--vert);
}
#formulaire #form p:nth-of-type(6){
    color: white;
    margin: 10px;
}
/* ==================== fin formulaire =============== */
/* ==================== carte =============== */
#carte {
    margin: 20px 10px;
    background: linear-gradient(to bottom, #205629, #040C05);
    box-shadow: 7px 10px 10px 7px rgba(73, 73, 73, 0.4);
    display: flex;
    justify-content: space-between;
    min-height: 250px;
}

#carte p .doré {
    font-family: 'Roboto Slab';
    font-size: 1.5rem;
    color: var(--doré);
}

#carte p {
    text-align: center;
    margin-top: 6%;
    color: white;
    width: 48%;

}

#carte iframe {
    width: 48%;
    margin: 15px 15px 15px 0;
}

/* ==================== fin carte =============== */

/* ==================== Mentions ================ */

#mentions {
    background: linear-gradient(to bottom, #205629, #040C05);
    color: white;
    padding: 15px;
    text-align: justify;
    margin-bottom: 20px;
}



#mentions h4 {
    margin-top: 20px;
    margin-bottom: 10px;

}



#mentions p:nth-of-type(1) {

    text-align: center;
}

#mentions .upper {
    text-transform: uppercase;
}

/* ==================== fin Mentions ================ */



/* ==================== Jumenterie ===================== */
#juments {
    background: linear-gradient(to bottom, #205629, #040C05);
    display: grid;
    margin: 20px 10px;
    grid-template-columns: repeat(auto-fill, 330px);
    gap: 30px;
    justify-content: center;
    box-shadow: 7px 10px 10px 7px rgba(73, 73, 73, 0.4);
    
}

#juments .carteJument{
    width: 330px;
    margin:30px auto;
    display: grid;
    grid-template-columns: auto-fill ;
    grid-template-rows: repeat(3, auto);
    border: 1px solid var(--doré);
    border-radius: 25px;
    box-shadow: 4px 8px 8px 8px rgba(33, 33, 33, 0.5);
    
}
#juments .carteJument .imgDiv img{
    width: 100%;
}

#juments .carteJument .imgDiv{
    grid-area: 2/1/3/2;
}

#juments .carteJument h3{
    grid-area: 1/1/2/2;
    margin: 5px 10px;
}

#juments .carteJument p{
    grid-area: 3/1/4/2;
    color: white;
    margin: 10px 5px;
}
#juments .carteJument .imgDiv a:hover{
    border-bottom: none;
    opacity: 0.6;
}

/* ==================== Fin Jumenterie ===================== */